playbook-Checkpoint_-_Block_IP_-_Custom_Block_Rule.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.3.5
    packID: CheckpointFirewall
    packName: Check Point Firewall
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook blocks IP addresses using Custom Block Rules in Check Point Firewall.
  The playbook receives malicious IP addresses as inputs, creates a custom bi-directional rule to block them, and publishes the configuration.
id: Checkpoint - Block IP - Custom Block Rule
inputs:
- description: |-
    An array of malicious IPs to block (Can be also provided as a context path. e.g. ${IP} ).
    Example:     1.1.1.1,2.2.2.2
  key: IP
  playbookInputQuery: null
  required: true
  value: {}
- description: Whether the playbook should continue install policy process for Check
    Point Firewall.
  key: install_policy
  playbookInputQuery: null
  required: true
  value:
    simple: "False"
- description: The name of the policy package to be installed.
  key: policy_package
  playbookInputQuery: null
  required: true
  value:
    simple: Standard
- description: |-
    If one of the actions for the block IP playbook fails due to issues on the Check Point Firewall, this input determines whether the playbook continues or stops for manual review. If the playbook continues, the session ID logs out and all Check Point changes are discarded.
    Values are "Continue" or "Stop".
    The default value is "Stop".
  key: block_IP_error_handling
  playbookInputQuery: null
  required: false
  value:
    simple: Stop
- description: |-
    If one of the actions for publish/install policy fails due to issues on the Check Point side, this input determines whether the playbook continues or stops for manual review. If the playbook continues, the session ID logs out and all Check Point changes are discarded.
    Values are "Continue" or "Stop".
    The default value is "Stop".
  key: checkpoint_error_handling
  playbookInputQuery: null
  required: true
  value:
    simple: Stop
- description: |-
    Determines which Check Point Firewall rule layer is used.
    By default, the  "Network" layer is used, but this can be changed.
  key: rule_layer
  playbookInputQuery: null
  required: true
  value:
    simple: Network
- description: |-
    Determines which Check Point Firewall rule position is used.
    By default, the "top" position is used, but this can be changed.
  key: rule_position
  playbookInputQuery: null
  required: true
  value:
    simple: top
- description: "Creates a new blocking rule using this Check Point Firewall group.
    \ \nUse this option if you have not assigned the appended group to a rule in your
    firewall policy."
  key: rule_name
  playbookInputQuery: null
  required: true
  value:
    simple: XSOAR - ${incident.id}
name: Checkpoint - Block IP - Custom Block Rule
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 175f9378-f1cc-48b8-8c7e-72a87d6dbe5c
      iscommand: false
      name: ""
      version: -1
    taskid: 175f9378-f1cc-48b8-8c7e-72a87d6dbe5c
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 460,
          "y": -640
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: inList
                    right:
                      value:
                        simple: CheckPointFirewall,CheckPointFirewall_v2
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is Check Point Firewall enabled
      id: c97b7d87-db79-4e01-8831-545456462909
      iscommand: false
      name: Is Check Point Firewall enabled?
      type: condition
      version: -1
    taskid: c97b7d87-db79-4e01-8831-545456462909
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 460,
          "y": -520
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f4e1af90-6b1e-4436-84b2-54ed3e44be8d
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: f4e1af90-6b1e-4436-84b2-54ed3e44be8d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 460,
          "y": 3410
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: ipv4-address
                root: CheckPoint.Objects
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: ipv4-address
                root: CheckPoint.Objects
          operator: inList
          right:
            iscontext: true
            value:
              simple: inputs.IP
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Validate if the IP object is already in Check Point.
      id: 04b33257-ce71-4520-84d8-edb86361883f
      iscommand: false
      name: Does the IP object already exist in Check Point?
      type: condition
      version: -1
    taskid: 04b33257-ce71-4520-84d8-edb86361883f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 180
        }
      }
  "4":
    continueonerror: true
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      ip_address:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
      name:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
      session_id:
        complex:
          accessor: Login.session-id
          root: CheckPoint
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add host object to Check Point Firewall.
      id: fc1ac496-a113-43c3-8f9e-ffb71d0d3066
      iscommand: true
      name: Add a host to Check Point Firewall (from Inputs)
      script: '|||checkpoint-host-add'
      type: regular
      version: -1
    taskid: fc1ac496-a113-43c3-8f9e-ffb71d0d3066
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -470,
          "y": 780
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Log in to Check Point to get unique session ID.
      id: dc0c9f6f-469d-42fb-84c7-81288ef8ba3e
      iscommand: true
      name: Log in to Check Point and get session ID
      script: '|||checkpoint-login-and-get-session-id'
      type: regular
      version: -1
    taskid: dc0c9f6f-469d-42fb-84c7-81288ef8ba3e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": -350
        }
      }
  "7":
    continueonerror: true
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      destination:
        simple: XSOAR-${incident.id}
      layer:
        simple: ${inputs.rule_layer}
      name:
        simple: ${inputs.rule_name}
      position:
        simple: ${inputs.rule_position}
      session_id:
        complex:
          accessor: Login.session-id
          root: CheckPoint
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add access rule to Check Point Firewall.
      id: f00d4842-88c9-40db-8126-c2004cd7096e
      iscommand: true
      name: Add Check Point access rule
      script: '|||checkpoint-access-rule-add'
      type: regular
      version: -1
    taskid: f00d4842-88c9-40db-8126-c2004cd7096e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1690
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      auto_logout:
        simple: "False"
      checkpoint_error_handling:
        simple: ${inputs.checkpoint_error_handling}
      discard_changes:
        simple: ${inputs.discard_changes}
      install_policy:
        simple: ${inputs.install_policy}
      policy_package:
        simple: ${inputs.policy_package}
      sid:
        simple: ${CheckPoint.Login.session-id}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Publish the Check Point Firewall configuration and install policy
        on all available gateways.
      id: f7944d23-cc81-4753-8c14-6c77e3ac41d6
      iscommand: false
      name: Checkpoint - Publish&Install configuration
      playbookId: Checkpoint - Publish&Install configuration
      type: playbook
      version: -1
    taskid: f7944d23-cc81-4753-8c14-6c77e3ac41d6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2160
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${CheckPoint.AccessRule.name}
          operator: isEqualString
          right:
            value:
              simple: ${inputs.rule_name}
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the access rule was added correctly.
      id: 14891e0f-33e6-4ba7-8faa-e8ab79c5a889
      iscommand: false
      name: Was the access rule added successfully on Check Point?
      type: condition
      version: -1
    taskid: 14891e0f-33e6-4ba7-8faa-e8ab79c5a889
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2480
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      identifier:
        simple: ${inputs.rule_layer}
      session_id:
        simple: ${CheckPoint.Login.session-id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get rule list from Check Point Firewall
      id: 617247cb-84ae-4ef0-8834-5b8310b6607d
      iscommand: true
      name: Get rule list from Check Point Firewall
      script: '|||checkpoint-access-rule-list'
      type: regular
      version: -1
    taskid: 617247cb-84ae-4ef0-8834-5b8310b6607d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 2330
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      session_id:
        simple: ${CheckPoint.Login.session-id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Log ut with specific session ID from Check Point Firewall.
      id: ea9ccc02-67ef-4924-8380-3e0ba3a03d6c
      iscommand: true
      name: Check Point logout
      script: '|||checkpoint-logout'
      type: regular
      version: -1
    taskid: ea9ccc02-67ef-4924-8380-3e0ba3a03d6c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 3240
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: There was a problem adding the access rule.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported).
      id: dec826c9-0de7-4e01-87aa-7a83f14c0b64
      iscommand: false
      name: Print access rule add error
      script: Print
      type: regular
      version: -1
    taskid: dec826c9-0de7-4e01-87aa-7a83f14c0b64
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -60,
          "y": 2020
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: CheckPoint.AccessRule
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Validate if access rule was added.
      id: ba25527b-75e8-4a5b-827f-0504cf07e4d0
      iscommand: false
      name: Was the access rule added successfully on Check Point?
      type: condition
      version: -1
    taskid: ba25527b-75e8-4a5b-827f-0504cf07e4d0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1850
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Host
                root: CheckPoint
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Validate host object added successfully.
      id: 2065aef3-9908-4087-848e-9d4a4af622d1
      iscommand: false
      name: Was the host object added successfully?
      type: condition
      version: -1
    taskid: 2065aef3-9908-4087-848e-9d4a4af622d1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -60,
          "y": 960
        }
      }
  "15":
    continueonerror: true
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: There was a problem adding object host.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported).
      id: 6eb870df-6055-46f3-8162-590b10fcc4a4
      iscommand: false
      name: Print host object added error
      script: Print
      type: regular
      version: -1
    taskid: 6eb870df-6055-46f3-8162-590b10fcc4a4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -470,
          "y": 1220
        }
      }
  "16":
    continueonerror: true
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      filter_search:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
      ip_only:
        simple: "true"
      session_id:
        simple: ${CheckPoint.Login.session-id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get host object to check if IP already exists.
      id: 015dc9bf-3a9a-4399-8f7a-9987fb218556
      iscommand: true
      name: Check Point show object
      script: '|||checkpoint-show-objects'
      type: regular
      version: -1
    taskid: 015dc9bf-3a9a-4399-8f7a-9987fb218556
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 0
        }
      }
  "17":
    continueonerror: true
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: Access rule was not added to Checkpoint successfully.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported).
      id: d6d93fc2-b5f8-41e0-84b6-d39d51039f37
      iscommand: false
      name: Print access rule was not added to Check Point successfully
      script: Print
      type: regular
      version: -1
    taskid: d6d93fc2-b5f8-41e0-84b6-d39d51039f37
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -60,
          "y": 2670
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      auto_logout:
        simple: "False"
      checkpoint_error_handling:
        simple: ${inputs.checkpoint_error_handling}
      discard_changes:
        simple: ${inputs.discard_changes}
      install_policy:
        simple: ${inputs.install_policy}
      policy_package:
        simple: ${inputs.policy_package}
      sid:
        simple: ${CheckPoint.Login.session-id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Publish the Check Point Firewall configuration and install policy
        on all available gateways.
      id: e418b023-1569-4098-883d-2644e655811f
      iscommand: false
      name: Checkpoint - Publish&Install configuration
      playbookId: Checkpoint - Publish&Install configuration
      type: playbook
      version: -1
    taskid: e418b023-1569-4098-883d-2644e655811f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -60,
          "y": 1220
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      filter_search:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
      ip_only:
        simple: "true"
      session_id:
        simple: ${CheckPoint.Login.session-id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get host object to check if IP already exist.
      id: 1160b925-6034-4829-816c-9a4d57bcb229
      iscommand: true
      name: Check Point show object
      script: '|||checkpoint-show-objects'
      type: regular
      version: -1
    taskid: 1160b925-6034-4829-816c-9a4d57bcb229
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1390
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.block_IP_error_handling
          operator: isEqualString
          right:
            value:
              simple: Stop
        - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.checkpoint_error_handling
          operator: isEqualString
          right:
            value:
              simple: Stop
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: If action manual handling is enabled, the playbook will pause and
        wait for manual review.
      id: fb571b4b-09de-44eb-8382-758633671f4c
      iscommand: false
      name: Is action manual handling enabled?
      type: condition
      version: -1
    taskid: fb571b4b-09de-44eb-8382-758633671f4c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -470,
          "y": 2840
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: User manually publishes on Check Point Firwall console.
      id: b2bfee2e-854f-4f48-8e56-dfe26e9ceea7
      iscommand: false
      name: Fix error and publish manually
      type: regular
      version: -1
    taskid: b2bfee2e-854f-4f48-8e56-dfe26e9ceea7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -470,
          "y": 3070
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      left:
        complex:
          root: inputs.IP
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
      right:
        simple: ${CheckPoint.Objects.ipv4-address}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Compare two lists and put the differences in context.
      id: 657229a0-62d9-4c72-844f-768dea837582
      iscommand: false
      name: Compare between Inputs IPs and the returned Check Point objects
      script: CompareLists
      type: regular
      version: -1
    taskid: 657229a0-62d9-4c72-844f-768dea837582
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 420
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ListCompare.LeftOnly
          operator: isEmpty
      label: "No"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "29"
      "No":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there is an IP without an object in the Firewall.
      id: c856d307-d035-4a15-8e11-dcee37e6599b
      iscommand: false
      name: Are there any diffs?
      type: condition
      version: -1
    taskid: c856d307-d035-4a15-8e11-dcee37e6599b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 230,
          "y": 590
        }
      }
  "29":
    continueonerror: true
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      ip_address:
        simple: ${ListCompare.LeftOnly}
      name:
        simple: ${ListCompare.LeftOnly}
      session_id:
        complex:
          accessor: Login.session-id
          root: CheckPoint
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add host object to Check Point Firewall.
      id: 0ccc3589-1788-4672-8c04-dabe9a6b1677
      iscommand: true
      name: Add a host to Check Point Firewall (from the diff)
      script: '|||checkpoint-host-add'
      type: regular
      version: -1
    taskid: 0ccc3589-1788-4672-8c04-dabe9a6b1677
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -60,
          "y": 780
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: XSOAR-${incident.id}
      session_id:
        simple: ${CheckPoint.Login.session-id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds a group.
      id: 0b63ce54-9db6-4396-8074-a3fc0437185b
      iscommand: true
      name: Create object group in Firewall
      script: '|||checkpoint-group-add'
      type: regular
      version: -1
    taskid: 0b63ce54-9db6-4396-8074-a3fc0437185b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": -180
        }
      }
  "31":
    continueonerror: true
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      identifier:
        simple: XSOAR-${incident.id}
      members:
        complex:
          accessor: name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: CheckPoint.Objects.ipv4-address
              operator: inList
              right:
                iscontext: true
                value:
                  simple: inputs.IP
          root: CheckPoint.Objects
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates the specified group object.
      id: 5499eb78-20b2-4d48-843f-710b321fc10d
      iscommand: true
      name: Append network object
      script: '|||checkpoint-group-update'
      type: regular
      version: -1
    taskid: 5499eb78-20b2-4d48-843f-710b321fc10d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 230,
          "y": 1540
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 4115,
        "width": 1310,
        "x": -470,
        "y": -640
      }
    }
  }
